span {
  color: white;
  font-family: "Nunito sans";
  font-size: 20px;
  font-weight: 500;
}

.l-footer a {
  font-family: "Nunito sans";
  font-size: 20px;
  font-weight: 500;
}

.footerblack a,
span {
  color: black;
}
