.navbutton {
  display: flex;
  height: 49px;
  padding: 7px 44px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background: #7592ca;
  box-shadow: 7px 6px 4.8px 0px rgba(0, 0, 0, 0.4);
  color: #fff;
  text-align: center;
  font-family: "lacquer";
  font-size: 36px;
  font-weight: 400;
  margin-top: 200%;
  z-index: 2;

  @media (max-width: 1200px) {
    font-size: 25px;
  }
}
