.room {
  background-image: url("../image/elements/room.svg");
  background-repeat: no-repeat;
  aspect-ratio: 1296/979;
  background-size: 90%;
  background-position: center;
}

.deskobjects {
  display: flex;
}
